<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Course Form</title>
    <th:block th:insert="base :: headstuff"></th:block>
</head>
<body>
<nav th:replace="base :: navbar"></nav>

<div class="mt-4 container text-white">
    <h2 class="py-4 text-white">Apply Now</h2><br>
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form action="#"
                      th:action="@{/process}"
                      th:object="${course}"
                      method="post">

                    <input type="hidden" th:field="*{id}" />

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="name">
                                    Name</label>
                                <input type="text" class="form-control" id="name"
                                       placeholder="Enter course title"
                                       th:field="*{title}"
                                       required="required"/>
                                <span th:if="${#fields.hasErrors('title')}"
                                      th:errors="*{title}"></span>
                            </div>

                            <div class="form-group">
                                <label for="instructor">
                                    Instructor</label>
                                <input type="text" class="form-control" id="instructor"
                                       placeholder="Instructor name"
                                       th:field="*{instructor}"
                                       required="required"/>
                                <span th:if="${#fields.hasErrors('instructor')}"
                                      th:errors="*{instructor}"></span>
                            </div>

                            <div class="form-group">
                                <label for="description">
                                    Description</label>
                                <textarea rows="3" class="form-control" id="description"
                                          placeholder="Description"
                                          th:field="*{description}"
                                          required="required"/>
                                <span th:if="${#fields.hasErrors('description')}"
                                      th:errors="*{description}"></span>
                            </div>

                            <div class="form-group">
                                <label for="credit">
                                    Credit</label>
                                <input type="text" class="form-control" id="credit"
                                       placeholder="Credit"
                                       th:field="*{credit}"
                                       required="required"/>
                                <span th:if="${#fields.hasErrors('credit')}"
                                      th:errors="*{credit}"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-info pull-right">
                                Submit
                            </button>
                        </div>
                    </div>
                    <div class="space2"></div>
                </form>
            </div>
        </div>
    </div>
</div>


<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>