<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Index Page</title>
    <th:block th:insert="base :: headstuff"></th:block>
</head>
<body>
<nav th:replace="base :: navbar"></nav>

<div class="container m-5" align="center">

    <!--<div class="container bg-light ">-->
    <!--<div class="my-5 "></div>-->
    <!--<div class="space5"></div>-->

    <h2>America's Promise Grant</h2>

    <div class="space5"></div>

    <table>
        <tr>
            <!--<th></th>-->
            <th> Courses</th>
            <th>Actions</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.title}"></td>
            <td>

                <a class="text-info" th:href="@{/detail/{id}(id=${course.id})}">
                    Details</a>
            </td>
        </tr>
    </table>

    <div class="space5"></div>


    <div>
         <span sec:authorize="isAuthenticated()">
        <button type="button"
                class="btn btn-sm btn-info"><a class="text-light"
                                               href="/add">Add A
            Courses</a></button>
         </span>

        <span sec:authorize="!isAuthenticated()">
        <button type="button"
                class="btn  btn-info"><a class="text-light" href="/studentForm">
            Apply Now</a>
        </button>
        </span>
        <div class="space5"></div>
    </div>

    <div class="space25"></div>
</div><!-- end container -->
<div th:replace="base :: footer"></div>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>