<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Index Page</title>
    <th:block th:insert="base :: headstuff"></th:block>
</head>
<body>
<nav th:replace="base :: navbar"></nav>

<article class="container m-5 bg-light pl-5">
    <section>
        <section class="space5"></section>
        <h2 class="text-center">America's Promise Grant Program</h2>
        <section class="space5"></section>
        <table class="table">
            <thead>
                <tr>
                    <th> Courses</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tr th:each="course : ${courses}">
                <td th:text="${course.title}"></td>
                <td>
                    <a class="text-info" th:href="@{/detail/{id}(id=${course.id})}">
                        Details</a>
                </td>
            </tr>
        </table>
        <section class="space2"></section>
        <span sec:authorize="isAuthenticated()">
        <button type="button"
                class="btn btn-info"><a class="text-light" href="/add">Add A
            Courses</a></button></span>
        <span sec:authorize="!isAuthenticated()">
        <button type="button"
                class="btn btn-info"><a class="text-light" href="/studentForm">
            Apply Now</a>
        </button>
        </span>
        <div class="space5"></div>
    </section>
</article><!-- end container -->
<div th:replace="base :: footer"></div>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>