<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <th:block th:insert="base :: headstuff"></th:block>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<article class="container m-5" >
    <span th:if="${param.error}">
        Invalid username and password.
    </span>
    <span th:if="${param.logout}">
        You Have been logged out.
    </span>

    <!--<form th:action="@{/login}" method="post">-->
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-2 col-form-label">User Name:</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" name="username"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-2 col-form-label">Password:</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="password" name="password"/>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-info">Sign In</button>-->
        <!--</div>-->
    <!--</form>-->

    <form th:action="@{/login}" method="post">
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Username
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control"
                       name="username">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">
                Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <button type="submit" class="btn btn-info" align="center">Sign
            In</button>
    </form>

        <div class="space25"></div>
        <div class="space25"></div>
</article>
<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>