<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container m-5">
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You Have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div>
        <label>User Name:
            <input type="text" name="username"/></label>
    </div>
    <div>
        <label>Password:
            <input type="password" name="password"/></label>
    </div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</div>
<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>