<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Course Details</title>
    <th:block th:insert="base :: headstuff"></th:block>
</head>
<body>
<nav th:replace="base :: navbar"></nav>

<article class="container m-5 bg-light" >
    <section class="my-4 py-5 pl-5">
        <h2 th:inline="text">[[${course.title}]] Details</h2>
        <section class="space5"></section>
        <h4 th:inline="text">Title - [[${course.title}]] </h4>
        <h4>Description</h4>
        <p th:text="${course.description}" ></p>
        <section class="space2"></section>
        <br><br>
        <a class="text-info" href="/" >Show All Courses</a><br>
        <!--<span th:if="${course.user.id == user_id}">-->
        <span sec:authorize="isAuthenticated()">
            <a class="text-info" th:href="@{/update/{id}(id=${course.id})}">Update this
                    course</a><br>
            <a class="text-info" th:href="@{/delete/{id}(id=${course.id})}">Delete this
                    course</a><br>
        </span>
        <section class="space10"></section>
    </section>
</article>

<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>